html,
body {
  @apply bg-white;
  @apply antialiased md:bg-indigo-50;
  @apply print:bg-white;

  font-size: 14px;
}

a,
.title {
  color: rgba(71, 116, 213, 1);
}

a:not(.tag):hover {
  text-decoration: underline;
}

@screen md {
  html,
  body {
    font-size: 10.12px;
  }
}

@screen print {
  html,
  body {
    font-size: 10.12px;
  }
}

@page {
  size: A4 portrait;
  margin: 0;
}
